    <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Madvarer</title>
    <link rel="stylesheet" type="text/css" th:src="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"
          href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css"/></head>
<body>

    <div th:include="fragment/style :: nav_navbar"></div>

    <div class = "table-responsive container">
        <a href="food-item/create" class="btn btn-primary" role="button">Create</a>
        <table class = "table">
            <tr>
                <th>Id</th>
                <th>Navn</th>
                <th>Pris</th>
                <th>Beskrivelse</th>
                <th></th>
            </tr>
            <!-- Display all fooditems from the DB -->
            <tr th:each="foodItem : ${foodItems}">
                <td th:text="${foodItem.id}"></td>
                <td th:text="${foodItem.name}"></td>
                <td th:text="${foodItem.price}"></td>
                <td th:text="${foodItem.description}"></td>
                <td>

                    <button type="button" class="btn btn-primary">Edit</button>
                    <a id="delete"  th:href="@{../food-item/delete/(id=${foodItem.id})}"title="Slet"><i class="fas fa-trash-alt fa-2x"></i></a>
                    <a id="edit" th:href="@{../food-item/edit/(id=${foodItem.id})}" title="Rediger"><button class="btn btn-primary">Edit </button><span  data-feather="edit"></span></a>

                </td>
            </tr>
        </table>
    </div>

</body>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
</html>