<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Index</title>
    <link rel="stylesheet" type="text/css" th:src="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"
          href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css"/></head>
<body>
<div th:include="fragment/style :: nav_navbar"></div>

<div class="container">
    <h1>Opret Bestilling</h1>
    <form th:action="@{/order/save}" th:method="post" th:object="${orderModel}">
            <hr>
            <div class="form-group">
                <label for="customerName">Kunde navn</label>
                <input th:field="${orderModel.customerName}" type="text" class="form-control" id="customerName" value="">
            </div>

            <div class="form-group">
                <label for="customerEmail">Kunde email</label>
                <input th:field="${orderModel.customerEmail}" type="text" class="form-control" id="customerEmail" value="">
            </div>

            <div class="form-group" >
                <label for="customerAddress" >Kunde addresse</label>
                <input th:field="${orderModel.customerAddress}" type="text" class="form-control" id="customerAddress" value="">
            </div>

        <div class="form-group" >
            <label for="customerAddress" >Kunde mobil/fastnet nummer</label>
            <input th:field="${orderModel.customerPhoneNumber}" type="text" class="form-control" id="customerAddress" value="">
        </div>

            <div class="form-group" >
                <label for="orderDate" >Order date</label>
                <input th:field="${orderModel.orderDate}"type="text" class="form-control" id="orderDate" value="">
            </div>

            <div class="form-group" >
                <label for="deliveryDate" >Delivery date</label>
                <input th:field="${orderModel.deliveryDate}" type="text" class="form-control" id="deliveryDate" value="">
            </div>

            <div class="form-group" >
                <label for="customerComment" >Kunde kommentar</label>
                <input th:field="${orderModel.customerComment}" type="text" class="form-control" id="customerComment" value="">
            </div>



            <label for="orderinfo"></label>
            <div id="orderinfo" class="row">

                <div class="form-group">
                    <label for="chosenmenu">Valgte menu</label>
                    <input  id="chosenmenu" type="text" th:value="${menu.name}" class="form-control" readonly>
                </div>

                <div class="form-group">
                    <label for="guestCount">Antal kuverter</label>
                    <input type="text" th:value="${guestCount}"  class="form-control" id="guestCount" readonly>
                </div>

                <div class="form-group">
                    <label for="totalPrice">Total pris</label>
                    <input type="text" th:value="${priceTotal}" th:id="${priceTotal}" th:name="${priceTotal}" class="form-control" id="totalPrice" readonly>

                </div>

            </div>

            <hr>





        <button type="submit" class="btn btn-success">Bestil</button>

    </form>
</div>

<script src="/webjars/jquery/3.2.1/jquery.js"></script>
<script src="/webjars/popper.js/1.12.9/dist/umd/popper.js"></script>
<script src="/webjars/bootstrap/4.0.0/js/bootstrap.js"></script>
</body>
</html>