<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Index</title>
    <link rel="stylesheet" type="text/css" th:src="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"
          href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css"/></head>
<body>
<div th:include="fragment/style :: nav_navbar"></div>

<div class="container">
    <h1>Redigér Bestilling</h1>
    <form th:action="@{/order/edit/save/(id=${order.id})}" th:method="put">
        <hr>
        <div class="form-group">
            <label for="menuName"></label>
            <input type="hidden" class="form-control" id="menuName" value="" th:field="${order.menu.name}">
        </div>

        <div class="form-group">
            <label for="priceTotal">Pris</label>
            <input type="hidden" class="form-control" id="priceTotal" value="" th:field="${order.priceTotal}">
        </div>

        <div class="form-group">
            <label for="customerEmail">Kunde email</label>
            <input type="text" class="form-control" id="customerEmail" value="" th:field="${order.customerEmail}">
        </div>

        <div class="form-group" >
            <label for="customerAddress" >Kunde addresse</label>
            <input type="text" class="form-control" id="customerAddress" value="" th:field="${order.customerAddress}">
        </div>

        <div class="form-group" >
            <label for="orderDate" >Order date</label>
            <input type="text" class="form-control" id="orderDate" value="" th:field="${order.orderDate}">
        </div>

        <div class="form-group" >
            <label for="deliveryDate" >Delivery date</label>
            <input type="text" class="form-control" id="deliveryDate" value="" th:field="${order.deliveryDate}">
        </div>

        <div class="form-group" >
            <label for="customerComment" >Kunde kommentar</label>
            <input type="text" class="form-control" id="customerComment" value="" th:field="${order.customerComment}">
        </div>

        <div class="form-group">
            <label for="guestCount" >Antal kuverter</label>
            <input type="text" class="form-control" id="guestCount" value="" th:field="${order.guestCount}">
        </div>
        <hr>
        <button type="submit" class="btn btn-success mb-2">Gem</button>

    </form>
</div>

<script src="/webjars/jquery/3.2.1/jquery.js"></script>
<script src="/webjars/popper.js/1.12.9/dist/umd/popper.js"></script>
<script src="/webjars/bootstrap/4.0.0/js/bootstrap.js"></script>
</body>
</html>