<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opret en Menu</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css" />

</head>
<body>
    <div th:include="fragment/style :: nav_navbar"></div>


    <div class="container">
        <h1>Opret en Menu</h1>
        <form th:action="@{/menu/save}" method="post">
            <div class="form-group">
                <label for="menu_name" class="col-form-label">Angiv Menu Navn</label>
                <input type="text" class="form-control" id="menu_name" name="menu_name" value=""
                       th:field="${menuModel.name}"/>
            </div>
            <div class="form-group">
                <label for="menu_price" class="col-form-label">Angiv en pris pr. Kuvert</label>
                <input type="text" class="form-control" id="menu_price" name="menu_price" value=""
                       th:field="${menuModel.price}"/>
            </div>
            <div class="form-group">
                <label for="menu_name" class="col-form-label">Lav en kort beskrivelse</label>
                <textarea class="form-control" rows="5" id="menu_description"
                          name="menu_description"
                          value="" th:field="${menuModel.description}"></textarea>
            </div>
            <!--
            <ul>
                <li th:each="foodItemModel : ${foodItemModel}">
                    <input type="checkbox" th:field="*{foodItemModel.id}"
                           th:value="${foodItemModel.name}" />
                    <label th:for="${#ids.prev('foodItemModel')}"
                           th:text="#{${'foodItemModel' + foodItemModel.name}}">Heating</label>
                </li>
            </ul> -->
            <button type="submit" class="btn btn-primary">Submit</button>

        </form>



    </div>
    <script src="/webjars/jquery/3.2.1/jquery.js"></script>
    <script src="/webjars/popper.js/1.12.9/dist/umd/popper.js"></script>
    <script src="/webjars/bootstrap/4.0.0/js/bootstrap.js"></script>
</body>
</html>