<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List all Menu</title>
    <link rel="stylesheet" type="text/css" th:src="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css" />

</head>
<body>
    <div th:include="fragment/style :: nav_navbar"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h2>Menuer</h2>
            </div>
            <div>
                <div class="col-sm">
                    <a href="menu/create">
                        <button href="menu/create" class = "btn btn-success m-1">Opret Menu</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table id="coursetable" class="table table-hover">
                <thead>
                    <tr>
                        <th>Navn</th>
                        <th>Beskrivelse</th>
                        <th>Pris</th>
                        <th></th>
                        <th></th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    <tr th:each="menu : ${menus}">
                        <td th:text="${menu.name}"></td>
                        <td th:text="${menu.description}"></td>
                        <td th:text="${menu.price} + ' DKK'"></td>
                        <td><a th:href="@{../menu/findOne/(id=${menu.id})}"class="btn btn-info eBtn">Vis Mere</a></td>
                        <td><a id="edit" th:href="@{../menu/edit/(id=${menu.id})}" title="Edit"><button class="btn btn-primary">Redigér</button><span  data-feather="edit"></span></a></td>
                        <td><a id="delete"  th:href="@{../menu/delete/(id=${menu.id})}" class="btn btn-danger" title="Slet">Slet</a></td>
                    </tr>
                </tbody>
            </table>
            <hr/>

            <ul class="nav nav-pills">
                <li class="nav-item" th:each="p : ${#numbers.sequence(0,menus.getTotalPages()-1)}">
                    <a th:href="@{../courses/(page=${p})}" th:text="${p}" class="nav-link"
                       th:classappend="${currentPage}==${p} ? 'active' : ''"></a>
                </li>
            </ul>
        </div>
        <hr>
    </div>
    <!-- The Modals time to shine-->
    <div class="myModal">
        <form th:action="@{/save}" method="post">

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Detaljer om Menu</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row border-bottom" >
                                    <div class="col-md-4 border-right">
                                        <label for="row_name" class="col-form-label font-weight-bold">Navn</label>
                                        <p id="row_name"></p>
                                    </div>
                                    <div class="col-md-4 border-right">
                                        <label for="row_price" class="col-form-label font-weight-bold">Pris</label>
                                        <p id="row_price"></p>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="row_description" class="col-form-label font-weight-bold">Beskrivelse</label>
                                        <p id="row_description"></p>
                                    </div>
                                </div>
                                <div class="row border-bottom" >
                                    <div class="col-md-4 border-right">
                                        <label for="row_items" class="col-form-label font-weight-bold">Indhold i menu</label>
                                        <p id="row_items"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Luk</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>





    <script src="/webjars/jquery/3.2.1/jquery.js"></script>
    <script src="/webjars/popper.js/1.12.9/dist/umd/popper.js"></script>
    <script src="/webjars/bootstrap/4.0.0/js/bootstrap.js"></script>
    <script type="text/javascript" th:src="@{/js/showMenu.js}" src="../../static/js/showMenu.js"></script>

</body>
</html>