<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List all Menu</title>
    <link rel="stylesheet" type="text/css" th:src="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css" />

</head>
<body>
    <div th:include="fragment/style :: nav_navbar"></div>
    <div class="container">
        <div class="row">
            <h2 class="col-sm-8">All Menus</h2>
            <a href="/menu/create" class="col-sm-4"><button class = "btn btn-success float-sm-right">Create Course</button></a>
        </div>
        <div class="table-responsive">
            <table id="coursetable" class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>Menu Navn</th>
                        <th>Menu Beskrivelse</th>
                        <th>Pris</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    <tr th:each="menu : ${menus}">
                        <td th:text="${menu.name}"></td>
                        <td th:text="${menu.description}"></td>
                        <td th:text="${menu.price}"></td>
                        <!--<td th:text="${courses.teachers}">-->
                        <td><a th:href="@{../menu/findOne/(id=${menu.id})}"class="btn btn-primary eBtn">Show More</a></td>
                        <td><a id="edit" th:href="@{../menu/edit/(id=${menu.id})}" title="Edit"><button class="btn btn-primary">Delete</button><span  data-feather="edit"></span></a></td>
                        <td><a id="delete"  th:href="@{../menu/delete/(id=${menu.id})}" class="btn btn-danger" title="Slet">Slet</a><td>
                    </tr>
                </tbody>
            </table>
            <hr/>

            <ul class="nav nav-pills">
                <li class="nav-item" th:each="p : ${#numbers.sequence(0,menus.getTotalPages()-1)}">
                    <a th:href="@{../courses/(page=${p})}" th:text="${p}" class="nav-link"
                       th:classappend="${currentPage}==${p} ? 'active' : ''"></a>
                </li>
            </ul>
        </div>
        <hr>
    </div>
    <script src="/webjars/jquery/3.2.1/jquery.js"></script>
    <script src="/webjars/popper.js/1.12.9/dist/umd/popper.js"></script>
    <script src="/webjars/bootstrap/4.0.0/js/bootstrap.js"></script>


</body>
</html>